/**
*此处样式借鉴了网上了一段代码，parent需要设置element为position: relative; 其中的溢出子元素才会overflow: hidden; 
*不然子元素为position: absolute;是不会隐藏的。
*/
* { 
	margin: 0; 
	padding: 0; 
  }

.quickcovercontainer  {  
	position: relative; 
	overflow: hidden; 
	}

.quickcovercontainer  .quickcover {  
	background: rgba(192, 192, 192, 0.3); 
	position: absolute; left: 0; top: 0; 
	text-align: center; 
	color: #ffffff; 
	transform-origin: right bottom; 
	-webkit-transform-origin: right bottom; 
	-moz-transform-origin: right bottom; 
	transform: rotate(90deg); 
	-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg); 
	transition: all 0.35s; 
	-webkit-transition: all 0.35s; 
	-moz-transition: all 0.35s; 
	}

.quickcovercontainer:hover .quickcover {
	transform: rotate(0deg); 
	-webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg); 
	}